<nav aria-label="Primary" role="navigation" class="css-1dbjc4n r-1awozwy r-eqz5dr menubar">
	<br>
	<a href="javascript:void(0)" >
		<div class="mydiv">
			<button class="btn sidenav" routerLink="/home-page">
				<img src="https://img.icons8.com/color-glass/48/4a90e2/home-page.png"/>&nbsp;&nbsp;Home
			</button>
		</div>
	</a>
	<br>
	<a href="javascript:void(0)">
		<div class="mydiv">
			<button class="btn sidenav" routerLink="/my-tweets">
				<img src="https://img.icons8.com/fluency/48/4a90e2/talk-male.png"/>&nbsp;My tweets
			</button>
		</div>
	</a>
	<br>
	<a href="javascript:void(0)">
		<div class="mydiv">
			<button class="btn sidenav" (click)="allUsers()">
				<img src="https://img.icons8.com/fluency/48/4a90e2/group.png" />&nbsp;All Users
			</button>
		</div>
	</a>
	<br>
	<a href="javascript:void(0)">
		<div class="mydiv">
			<button class="btn sidenav" routerLink="/profile" >
				<img src="https://img.icons8.com/fluency/48/4a90e2/lifecycle.png"/>&nbsp;My Profile
			</button>
		</div>
	</a>
	<br>
	<a href="javascript:void(0)">
		<div class="mydiv">
			<button class="btn sidenav" (click)="deleteAccount()" >
				<img src="https://img.icons8.com/fluency/48/4a90e2/filled-trash.png"/>&nbsp;Delete Account
			</button>
		</div>
	</a>
	<br>
	<a href="javascript:void(0)">
		<div class="mydiv">
			<button class="btn sidenav" (click)="logOut()">
				<img src="https://img.icons8.com/fluency/48/4a90e2/exit.png"/>&nbsp;Logout
			</button>
		</div>
	</a>
</nav>