@import './../../styles.scss';


.gray-color {
    color: #55585a;
}

.form-control {
    border: 1px solid #98a1ab;
}
.text-muted {
    color: #98a1ab;
}
.newaccount {
    width : 75%;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.size {
    width: 100px;
    height: 100px;
}

.card {
    border: none;
    padding: 20px;
}

.error-text {
    border: 1px solid $color-red;
}