<div class="hello">
    <div class="row initial" >
        <div class="col-md-4"></div>
        <div class="col-md-6 heading" style="background-color: transparent;">
            <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/4a90e2/external-pigeon-animal-flaticons-lineal-color-flat-icons-2.png" alt="Twitter logo">
            <h1><b>Welcome to Tweeter</b></h1>
            <br>
            <div><h4>Explore Tweeter today...</h4></div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-md login" routerLink="/login">Login</button></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-md signup" routerLink="/signup">Signup</button></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>